body {
  height: 100%;

  background-color: rgb(30, 30, 30);

  color: white;
}

.header-moreInfoOpened {
  padding-bottom: 2.5em;
}

header {
  margin-top: 2.5em;
  text-align: center;
  padding-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", serif;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.135em;
}

h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.modLink,
.inheritParent,
span {
  opacity: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

.blocked {
  background-color: #9f1e1e;
}

.filterNSFW {
  color: red;
}

.blocked:hover {
  cursor: default;
  background-color: #8b0000;
}

.inProgress {
  background-color: gray;
}

.inProgress:hover {
  cursor: default;
  background-color: #606060;
}

.profile {
  width: 85%;
  margin-bottom: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #5eb3ff;
  transition: 0.5s;
}

a:hover {
  color: #8fcdff;
}

.levelRedirect {
  font-size: inherit;
  text-decoration: none;
  color: white;
  transition: 0.7s;
}

.levelRedirect:hover {
  color: #b4b6b8;
}

.linkIcon {
  margin-left: 0.2rem;
  color: gray;
  font-size: 0.65rem;
  height: 0.65rem;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
button,
label,
a,
option,
input {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.connect {
  margin-bottom: 0.5em;
}

.header {
  width: 90%;
}

.header-outer {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 100%;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

.infoControls {
  margin-top: 0.5em;
}

.serverSelection {
  text-align: center;
}

#lobbies {
  box-sizing: border-box;
  margin-right: 1em;
  flex-grow: 1;
  margin-top: 0.25em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
  grid-auto-rows: min-content;
  gap: 1em;
}

@media (min-width: 768px) {
  #lobbies {
    gap: 1.5em;
  }
}

@media (min-width: 1215px) {
  #lobbies {
    gap: 2em;
  }
}

#refresh {
  color: #a8a8a8;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

#refreshButton {
  margin-top: 0.75rem;
  min-width: 7em;
}

#uptime {
  color: #a8a8a8;
  font-size: 0.75rem;
  margin-bottom: 0;
}

#notFound {
  text-align: center;
}

#searchOptions-outer {
  margin-top: 0.75em;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
}

#searchOptions {
  width: 100%;
}

#searchTitle {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0.35em;
}

.lobbyName {
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 0.75em;
  font-size: 1.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  line-height: 1.25rem;
  min-height: 1.25rem;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

.textIcon.hidden {
  width: 0;
  height: 0;
}

.gamemodeIcon {
  filter: brightness(0) invert(1);
  position: relative;
  display: inline-block;

  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;

  width: 1.333333em;
  line-height: 1em;

  margin-right: 0.15em;
}

.lobbyHeader {
  text-align: center;
}

.gamemodeIcon:before {
  content: "\00a0";
}

#appliedFilters {
  gap: 0.5em;
  text-align: center;
  margin-bottom: 1em;
}

#appliedFilters:not(.noFilters) {
  margin-top: 0.75em;
}

.noFilters {
  margin-top: 0.1em;
}

#appliedFilters > .infoBadge {
  margin-left: 0.25em;
  margin-right: 0.25em;
  background-color: rgba(220, 20, 60, 0.5);
}

#noFiltersText {
  margin: 0;
  color: gray;
}

.oneLine {
  padding-bottom: 1.25rem;
}

.textIcon {
  margin-right: 0.15em;
}

.filterIcon {
  margin-right: 0.35em;
  color: red;
}

a > .textIcon {
  margin-right: 0em;
}

#navigationBar {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.support {
  color: #f72f35;
}

.support:hover {
  color: #d4151c;
}

.lobbyHostName {
  margin-top: 0.5em;
  margin-bottom: 0.65em;
  font-size: 0.813rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.levelTitle {
  margin-top: 0;
  margin-bottom: 0.65em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gamemodeTitle {
  margin-top: 0;
  margin-bottom: 0.75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#javascriptRequired {
  color: red;
  text-align: center;
}

/* Code from https://getcssscan.com/css-checkboxes-examples */

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.1em;
  margin-top: 0.25em;
}

.checkbox-wrapper input {
  display: inline-block;
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  margin-right: 0.35em;
  width: 30px;
}

label {
  font-size: 16px;
  line-height: 16px;
  height: 16px;
}

.checkbox-wrapper input::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper input,
.checkbox-wrapper input::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper input::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper input[type="checkbox"] {
  cursor: default;
}

.checkbox-wrapper input:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper input:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper input:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper input:checked:hover {
  background-color: #535db3;
}

/* End of code from https://getcssscan.com/css-checkboxes-examples */

/* Discord rich element */

.discord {
  width: 98%;
  display: flex;
  background-color: rgb(30, 30, 30);
  box-shadow: 10px 5px 5px rgb(10, 10, 10);
  color: white;
  align-items: center;
  height: 3.5em;
  border-radius: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.serverIcon {
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 10%;
  margin-left: 2%;
}

.serverName,
.memberCount,
.serverIcon {
  display: inline-block;
  font-size: 1rem;
  padding-right: 2%;
  white-space: nowrap;
}

.discordJoin {
  text-align: center;
  height: 60%;
}

.discordJoin > button {
  height: 100%;
  text-align: center;
}

.memberCount {
  width: 16%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

/* End of Discord Rich Element */

.plrCount {
  display: inline-block;
  margin-left: 0.1em;
  margin-bottom: 0.25em;
  font-size: 1.125rem;
}

.fullLobby {
  color: red;
}

.availableLobby {
  color: chartreuse;
}

.serverName {
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.headerText {
  margin-top: 0.1em;
  margin-bottom: 0.25em;
  font-style: italic;
  font-size: 0.95rem;
}

.error {
  color: #f4320b;
  font-size: 0.938rem;
  text-align: center;
}

.closeInfo {
  text-decoration: none;
  color: white;
  transition: 0.7s;
  text-align: center;
  margin-top: 0;
}

.closeInfo:hover {
  color: #fa5f55;
}

#closeMoreInfo {
  background-color: #ff0000;
}

#closeMoreInfo:hover {
  background-color: #dd0000;
}

#mainContent {
  display: flex;
  gap: 1em;
}

#settings {
  flex: 0 0 13.75%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: rgb(20, 20, 20);
  border-radius: 20px;
  min-height: 50em;
  max-height: 100vh;

  box-shadow: 7.5px 2.5px 2.5px rgb(10, 10, 10);
}

#settingsTitle {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-family: "Ubuntu", sans-serif;
  padding-left: 0.3em;
}

.settingsCategory {
  padding-left: 0.3em;
}

.lobby {
  position: relative;
  background-color: rgba(20, 20, 20);
  box-shadow: 10px 5px 5px rgb(10, 10, 10);
  text-align: center;
  padding-bottom: 0.35em;
  border-radius: 15px;
  min-width: 13em;
  max-width: 30em;
  text-overflow: ellipsis;
  overflow: hidden;

  animation: 1s linear fadein;
  transition: 0.75s;
}

.tippy-box[data-theme~="website"] {
  background-color: rgb(30, 30, 30);
}

.tippy-box[data-theme~="website"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: rgb(30, 30, 30);
}
.tippy-box[data-theme~="website"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: rgb(30, 30, 30);
}
.tippy-box[data-theme~="website"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: rgb(30, 30, 30);
}
.tippy-box[data-theme~="website"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: rgb(30, 30, 30);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.lobby > button {
  width: 45%;
  height: 2em;
}

.lobby[filteredout="true"] {
  display: none;
  visibility: hidden;
}

.lobbySkeleton {
  box-shadow: 10px 5px 5px rgb(10, 10, 10);
}

#info-outer {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
}

#info {
  background-color: rgb(20, 20, 20);
  box-shadow: 10px 5px 5px rgb(10, 10, 10);
  border-radius: 10px;

  width: 60em;
  margin-bottom: 3em;
}

#searchOptions > li {
  padding: 0;
  text-align: center;
}

#lobbyToCopy,
#playerToCopy,
#discordToCopy,
#playerViewToCopy,
.hidden {
  display: none;
  visibility: hidden;
}

.lobby:hover {
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

#info-title {
  font-size: 1.75rem;
  min-height: 1.75rem;
  text-align: center;

  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0.4em;
}

.playersTitle {
  font-size: 1.35rem;
}

.lobbyHost {
  color: rgb(100, 100, 100);
  font-size: 0.781rem;

  text-align: left;
  margin-left: 1.5em;
  margin-top: 0;
}

#info-players {
  box-sizing: border-box;
  flex-grow: 1;
  margin-top: 0.25em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  grid-auto-rows: min-content;
  gap: 1em;
  padding: 0 2em 2em 2em;
}

#lobbyLimit {
  text-align: center;
  color: red;

  margin-top: 0.5em;
  padding-top: 0;
}
.detail {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.34em;
}

.detail-info {
  font-size: 0.9rem;
  width: 95%;
  padding-top: 0;
  margin-top: 0;
  word-wrap: break-word;
  margin-bottom: 0.5em;
}

.infoBadge {
  display: inline;
  border-radius: 10px;
  background-color: rgba(0, 56, 61, 0.7);
  padding: 6px 6px 6px 6px;
  transition: 0.5s;
}

.badges {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.lobbyInfo {
  margin-top: 0.15em;
  margin-bottom: 0.75em;
  text-align: center;
}

.playerCount {
  color: cyan;
}

.lobbyCount {
  color: yellow;
}

.lobbyHeader {
  margin-bottom: 0;
  padding-bottom: 0;
}

.side {
  padding: 1em 0 1em 0;
}

@media (min-width: 600px) {
  .content {
    display: flex;
  }
}

.left-content,
.right-content {
  flex: 1;
}

@media (max-width: 600px) {
  .right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .side {
    width: 100%;
  }
}

.thumbnail {
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  max-width: 95%;
  margin: auto;
  display: block;
}

@media (min-width: 600px) {
  .thumbnail {
    width: 100%;
  }
}

.avatarThumbnail,
.lobbyThumbnail {
  aspect-ratio: 16 / 9;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.playersTitle {
  text-align: center;
  margin-bottom: 0.5em;
}

.player {
  background-color: rgb(10, 10, 10);
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
  width: 9em;
  text-align: center;
  border-radius: 15px;

  word-wrap: break-word;
  overflow-wrap: break-word;

  overflow: hidden;

  transition: 0.75s;
}

.player:hover {
  box-shadow: 10px 10px 10px rgb(10, 10, 10);
}

.playerId {
  color: gray;
}

.name,
.username,
.permissions {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.avatarTitle {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-size: 1rem;
  line-height: 1.25rem;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.oneLineAvatar {
  margin-top: 1.625rem;
  margin-bottom: 1.625rem;
}

.name {
  word-wrap: break-word;
  margin-bottom: 0;
}

.searchOptions-clickable h2 {
  user-select: none;
}

.searchOptions-clickable {
  color: white;
}

.searchOptions-clickable:hover {
  cursor: pointer;
  color: rgb(200, 200, 200);
}

.collapsable > button.collapsed > :first-child:after {
  content: " ▾";
}
.collapsable > button:not(.collapsed) > :first-child:after {
  content: " ▴";
}
.collapsable > button:not(.collapsed) + div {
  display: none;
}

.collapsable > button > h2 {
  margin-bottom: 0em;
  margin-top: 0em;
}

#sortOrder {
  margin-bottom: 1.75em;
}

.username {
  word-wrap: break-word;
  color: grey;
  font-size: 0.75rem;
  margin-top: 0.25em;
  margin-bottom: 0;
}

.permissions {
  color: white;
  font-size: 0.688rem;
  margin-top: 0.25em;
  margin-bottom: 0;
}

.info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.lobbyPlayerCount {
  position: absolute;
  text-align: center;
  top: 2%;
  right: 3.5%;
  margin-top: 0;
  width: auto;
  padding: 0.3em 0.3em 0.3em 0.3em;

  background-color: rgba(21, 21, 21, 0.7);
  border-radius: 5px;
}

.platformIcon {
  position: absolute;
  text-align: center;
  top: 2%;
  left: 3.5%;
  margin-top: 0;
  width: auto;
  padding: 0.3em 0.3em 0.3em 0.3em;

  background-color: rgba(21, 21, 21, 0.7);
  border-radius: 5px;
}

button {
  border: none;
  text-decoration: none;
  background-color: rgb(32, 77, 197);
  padding: 5px 15px 5px 15px;
  border-radius: 6px;
  color: white;

  transition: 0.65s;
}

button:hover {
  cursor: pointer;
  background-color: rgb(0, 45, 255);
}

.activeServer {
  background-color: rgb(0, 175, 255);
}

.activeServer:hover {
  background-color: rgb(0, 140, 200);
  cursor: auto;
}

.textButton {
  border: none;
  text-decoration: none;
  background-color: transparent;
  transition: 0.65s;
  color: white;
  padding-left: 0;
  padding-right: 0;
}

.textButton:hover {
  color: grey;
  background-color: transparent;
}

.tippy-box[data-animation="scale"][data-placement^="top"] {
  transform-origin: bottom;
}
.tippy-box[data-animation="scale"][data-placement^="bottom"] {
  transform-origin: top;
}
.tippy-box[data-animation="scale"][data-placement^="left"] {
  transform-origin: right;
}
.tippy-box[data-animation="scale"][data-placement^="right"] {
  transform-origin: left;
}
.tippy-box[data-animation="scale"][data-state="hidden"] {
  transform: scale(0.5);
  opacity: 0;
}

/* Permissions */

.permission-guest {
  color: #808080;
}

.permission-operator {
  color: #fa8072;
}

.permission-owner {
  color: #ffbf00;
}

.permissionsTitle {
  margin-top: 0em;
  margin-bottom: 0em;
}

.permissionLevel {
  font-size: 9px;
  display: inline;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.permissionItem {
  font-size: 14px;
  display: inline;
  margin-right: 0.5em;
  margin-bottom: 0.1em;
  flex: 1 0 30%;
  text-align: center;
}

.permissionsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.permissionsCollapsable {
  padding-bottom: 0;
}

.fi {
  border-radius: 5px;
}

.fis {
  padding-left: 2px;
  padding-right: 2px;
}

/* Select */

@supports (appearance: base-select) {
  .selectWrapper {
    display: inline-flex;
    width: 46%;
    align-items: center;
    gap: 2%;
  }

  select,
  ::picker(select) {
    appearance: base-select;
  }

  select {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    border: 2px solid #dddddd;
    background: rgb(35, 35, 35);
    padding: 10px;
    width: 100%;
    transition: 0.4s;
  }

  select,
  selectedcontent {
    font-size: 0.85rem;
  }

  select:hover,
  select:open {
    background: rgb(55, 55, 55);
  }

  ::picker(select) {
    border: none;
  }

  ::picker(select) {
    opacity: 0;
    transition: all 0.25s allow-discrete;
  }

  :open::picker(select) {
    opacity: 1;
  }

  @starting-style {
    :open::picker(select) {
      opacity: 0;
    }
  }

  select::picker-icon {
    transition: 0.25s rotate;
  }

  select:open::picker-icon {
    rotate: 180deg;
  }

  option {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    border: 2px solid #dddddd;
    color: white;
    background: rgb(35, 35, 35);
    padding: 10px;
    transition: 0.4s;
  }

  option:hover {
    background: rgb(55, 55, 55);
  }

  option:first-of-type {
    border-radius: 8px 8px 0 0;
  }

  option:last-of-type {
    border-radius: 0 0 8px 8px;
  }

  ::picker(select) {
    border-radius: 8px;
  }

  option:not(option:last-of-type) {
    border-bottom: none;
  }

  option::checkmark {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    content: "\f00c";
    --fa-style: 900;
  }
}

/* Search */

.searchWrapper {
  display: flex;
  align-items: center;
  background-color: rgb(35, 35, 35);
  height: 2.5rem;
  width: 90%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 15px;
  border: 2px solid #ffffff;
}

.searchWrapper > i {
  width: 2.5rem;
}

.searchWrapper > input {
  background: none;
  color: white;
  border: none;
  outline: none;
}

/* Steam Profile */

.steamProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.steamAvatar {
  aspect-ratio: 1/1;
  border-radius: 50%;
  height: auto;
  height: 3.5em;
}

/* Offline */
.status0 {
  background-color: gray;
}

/* Online */
.status1 {
  background-color: greenyellow;
}

/* Busy */
.status2 {
  background-color: red;
}

/* Away */
.status3 {
  background-color: orange;
}

/* Snooze / AFK */
.status4 {
  background-color: cyan;
}

/* Unknown */
.status5 {
  background-color: gray;
}

/* In Game */
.status6 {
  background-color: green;
}

.viewThumbnail {
  border-radius: 5%;
  margin-bottom: 0.5em;
  aspect-ratio: 16/9;
  width: 95%;
}

.viewContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steamUsername {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.createDate {
  color: gray;
  font-size: 0.65rem;
  margin: 0;
}

.avatarContainer {
  position: relative;
  padding-right: 0.3em;
}

.statusIndicator {
  position: absolute;
  height: 1em;
  width: 1em;
  border-radius: 50%;

  bottom: 6%;
  right: 5%;
}
